@font-face {
  font-family: "SpaceMono Nerd Font";
  font-display: swap;
  src:
    local("SpaceMono Nerd Font"),
		url(../fonts/SpaceMonoNF.woff2) format("woff2"),
    url(../fonts/SpaceMonoNF.woff) format("woff");
}

:root {
	color-scheme: dark;
}

* {
  transition: all 0.2s ease-in-out;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
	background: var(--background-color);
	overflow-x: clip;
}

body {
  display: flex;
  color: var(--text-color);
  font-family:
    SpaceMono Nerd Font,
    monospace;
  justify-content: center;
  align-items: center;
}

#text {
	transform: translateX(100vw);
	transition: transform 0.5s ease-in-out;
}

#text.loaded {
  transform: translateX(0vw);
}

#carouselImage {
  height: 750px;
  aspect-ratio: 9 / 16;
  border-radius: 6px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  margin-right: 2em;
}

#carouselImage:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#image {
	opacity: 0;
	transition: opacity 0.5s linear;
}

#image.loaded {
	opacity: 1;
}

@media (max-width: 800px) {
  img {
    display: none;
  }
}

#greeting {
  color: var(--accent-color-2);
  font-size: 2.3em;
  font-weight: 900;
  grid-column: 1/-1;
  text-align: center;
  display: grid;
}

#date {
  font-size: 1.3em;
  font-weight: 600;
  color: var(--accent-color);
  display: grid;
  grid-column: 1/-1;
  text-align: center;
  margin: 1em 0;
}

.header {
  color: var(--accent-color);
  font-size: 1.3em;
  font-weight: 600;
  text-align: left;
  transition: color 0.2s ease-out;
}

#links {
  display: grid;
  grid-row-gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-color);
  font-size: 1.0em;
  text-decoration: none;
  transition: color ease-out 0.2s;
}

a:hover {
  color: var(--hover-color);
  font-style: italic;
}
